@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background: linear-gradient(141deg, #0000ff, #000000);
    background-size: 400% 400%;
    font-family: 'Roboto', sans-serif;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes AnimationName {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

.apresentacao{
    display: flex;
    background-color: rgb(44, 44, 44);
    border-radius: 300px;
}

img{
    border-radius: 300px;
    margin: 10px;
    width: 150px;
}

.texto{
    color:white;
    text-align: center;
}