*{ 
    font-family:SatoshiBold;
}

header{
    width: 100%;
    /* background-color: rgb(44, 44, 71); */
    background-color: #0D1C26;
    color: white;
}

h1{
    font-size: 45px;
}

h3{
    font-size: 20px;
    font-family:SatoshiRegular;
}

.BoxPortfolio{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -15px;
    
}

.BoxPortfolio h3{
    background-color: #6B98BF;
    padding: 5px;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: #1F3140;
}

/* mobile */
@media (max-width: 615px) {        

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
     
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eu{
        width: 250px;
        margin: 10px;
        border-radius: 160px;
        align-items: center;
    }
    
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        height: 100%;
        width: 100%;
        gap: 10px;
        padding-bottom: 5px;
    }
    
    .redesSociais{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        gap: 10px;
        padding-bottom: 15px;
    }
    
    .rede{
        width: 45px;
        border-radius: 150px;
    }

    h1{
        margin: 5px;
    }
}


/* Desktop */
@media (min-width: 615px) {        
 

    .profile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .image{
        /* display: flex;
        justify-content: center; */
    }
    
    .eu{
        width: 200px;
        margin: 10px;
        border-radius: 100px;
        align-items: center;
    }

    .description{
        gap: 10px;
    }
    
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        gap: 15px;
        
    }
    
    .redesSociais{
        display: flex;
        align-items: flex-end;
        gap: 5px;
    }
    
    .rede{
        width: 25px;
        border-radius: 100px;
    }
}