*{ 
    font-family:SatoshiBold;
}

header{
    width: 100%;
    background-color: #0D1C26;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 45px;
}

h3{
    font-size: 20px;
    font-family:SatoshiRegular;
}

.redesSociais{
    color: white;
}

.github:hover, .instagram:hover, .linkedln:hover{
    transform: translateY(-10px);
}

.github:hover{
    color: rgb(42, 42, 81);
}

.instagram:hover{
    color: #dd2a7b;
}

.linkedln:hover{
    color: #0e76a8;
}

.projeto{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px;
    transition: 0.5s all ease-in-out;
}

.projeto:hover{
    transform: scale(1.03);
    color: #58a6ff;
}

.BoxPortfolio{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -15px;
    
}

.BoxPortfolio h3{
    background-color: #6B98BF;
    padding: 5px;
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: #1F3140;
}

.mid{
    background-color: #b9b9b9;
    width: 100%;
    position:absolute;
    top:150px;
}

.botton{
    background-color: #b9b9b9;
    margin-top: 15px;
    height: 100%;
}


.projeto{
    margin: 5px;
    color: white;
    background-color: rgb(31, 49, 64);
    border-top: 4px solid #fdfac3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dados{
    margin: 5px;
    color: white;
    background-color: rgb(31, 49, 64);
    border-top: 4px solid #fdfac3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: min-content;
}

ul{
    list-style:none;
    padding-left:0;
}

li{
    margin-left: 20px;
}

.botton h2{
    font-size: 25px;
}

.botton h3{
    font-size: 20px;
    font-family:SatoshiRegular;
}

.botton h4{
    font-size: 15px;
    font-family:SatoshiRegular;
}

.botton li{
    font-size: 20px;
    font-family:SatoshiRegular;
}

.tecnologias{
    margin: 10px;
}

/* mobile */
@media (max-width: 615px) {        

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
     
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .eu{
        width: 250px;
        margin: 10px;
        border-radius: 160px;
        align-items: center;
    }
    
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        height: 100%;
        width: 100%;
        gap: 10px;
        padding-bottom: 5px;
    }
    
    .redesSociais{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        gap: 10px;
    }

    .github{
        font-size: 38px;
        color: white
    }

    .instagram{
        font-size: 35px;
        color: white
    }

    .linkedln{
        font-size: 38px;
        color: white
    }
    
    h1{
        margin: 5px;
    }

    .mid{
        margin-top: 305px;
    }

    .botton{
        margin-top: 17px;
        display: grid;
        grid-template-rows: min-content;
    }

    .portfolio{
        order: 2;
        width: 100%;
    }

    .dados{
        order: 1;
    }
}


/* Desktop */
@media (min-width: 615px) {        
 
    .mid{
        margin-top: 70px;
    }

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .image{
        /* display: flex;
        justify-content: center; */
    }
    
    .eu{
        width: 200px;
        margin: 10px;
        border-radius: 100px;
        align-items: center;
    }

    .description{
        gap: 10px;
    }
    
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        gap: 15px;
        padding-bottom: 10px;
        
    }
    
    .redesSociais{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
    
    .github{
        font-size: 30px;
        color: white;
        transition: 1s ease-in-out;
    }

    .instagram{
        font-size: 29px;
        color: white;
        transition: 1s ease-in-out;
    }

    .linkedln{
        font-size: 32px;
        color: white;
        transition: 1s ease-in-out;
    }

    .portfolio{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content;

    }

    .botton{
        display: flex;
        flex-direction: row;
    }

    .portfolio{
        width: 66.66%;
    }
    
    .projeto{
        height: 100%;
        max-height: 200px;
    }

    .dados{
        width: 33.33%;
    }

}